# Set maximum stack size for Error Map
Plugins>NanoJ-SQUIRREL>Tools, "Set maximum stack size", nanoj.squirrel.java.gui.tools.SetMaximumStackSize_
# Estimate RSF
Plugins>NanoJ-SQUIRREL>Tools, "Extract PSF", nanoj.squirrel.java.gui.tools.ExtractPSF_
# Split frames for FRC
Plugins>NanoJ-SQUIRREL>Tools, "Split image sequence into odd and even frames", nanoj.squirrel.java.gui.tools.SplitOddAndEven_
# Data preparation
#Plugins>NanoJ-SQUIRREL>Data Preparation, "Register SR images to Reference - Rigid", nanoj.squirrel.java.gui.dataPreparation.RegisterReconstructionsRigid_
Plugins>NanoJ-SQUIRREL>Data Preparation, "Register SR images to Reference - Elastic", nanoj.squirrel.java.gui.dataPreparation.RegisterReconstructionsElastic_
# Data analysis
Plugins>NanoJ-SQUIRREL, "Calculate Error-Map, RSE and RSP", nanoj.squirrel.java.gui.ErrorMap_
Plugins>NanoJ-SQUIRREL, "Calculate Error-Map, RSE and RSP - UNIQORN! optimiser (beta)", nanoj.squirrel.java.gui.ErrorMapUNIQORN_
Plugins>NanoJ-SQUIRREL, "Calculate FRC-Map", nanoj.squirrel.java.gui.FRCMap_
Plugins>NanoJ-SQUIRREL, "Calculate SR-Fusion", nanoj.squirrel.java.gui.FuseSRImages_
Plugins>NanoJ-SQUIRREL, "SQUIRREL manual and paper...", nanoj.squirrel.java.gui.LinksToManualAndPaper_

# NanoJ-independent
Plugins>NanoJ-SQUIRREL (no GPU), "Calculate Error-Map, RSE and RSP - UNIQORN! optimiser (beta)", openCLFree.squirrel.java.gui.ErrorMapUNIQORN_
