# Set maximum stack size for Error Map
Plugins>NanoJ-SQUIRREL>Tools, "Set maximum stack size", nanoj.squirrel.java.gui.tools.SetMaximumStackSize_
# Estimate RSF
Plugins>NanoJ-SQUIRREL>Tools, "Extract PSF", nanoj.squirrel.java.gui.tools.ExtractPSF_
# Split frames for FRC
Plugins>NanoJ-SQUIRREL>Tools, "Split image sequence into odd and even frames", nanoj.squirrel.java.gui.tools.SplitOddAndEven_
# Data preparation
#Plugins>NanoJ-SQUIRREL>Data Preparation, "Register SR images to Reference - Rigid", nanoj.squirrel.java.gui.dataPreparation.RegisterReconstructionsRigid_
Plugins>NanoJ-SQUIRREL>Data Preparation, "Register SR images to Reference - Elastic", nanoj.squirrel.java.gui.dataPreparation.RegisterReconstructionsElastic_
# Data analysis
Plugins>NanoJ-SQUIRREL, "Calculate Error-Map, RSE and RSP", nanoj.squirrel.java.gui.ErrorMap_
Plugins>NanoJ-SQUIRREL, "ERRORMAPV2", nanoj.squirrel.java.gui.ErrorMapV2_
Plugins>NanoJ-SQUIRREL, "ERRORMAPV2-BLOCKS", nanoj.squirrel.java.gui.ErrorMapV2Blocked_
Plugins>NanoJ-SQUIRREL, "ERRORMAPV2-ROLLING-BLOCKS", nanoj.squirrel.java.gui.ErrorMapV2BlockedRollingWindow_
Plugins>NanoJ-SQUIRREL>Testing, "Generate Random GT", nanoj.squirrel.java.gui.testing.GenerateRandomGT_
Plugins>NanoJ-SQUIRREL>Testing, "Test Optimiser Accuracy", nanoj.squirrel.java.gui.testing.BasicTesting_
Plugins>NanoJ-SQUIRREL>Testing, "Test Intensity Accuracy", nanoj.squirrel.java.gui.testing.IntensityTesting_
Plugins>NanoJ-SQUIRREL>Testing, "Test Sigma Accuracy", nanoj.squirrel.java.gui.testing.SigmaTesting_
Plugins>NanoJ-SQUIRREL>Testing, "Generate Non-Linear SR images", nanoj.squirrel.java.gui.testing.SRLinearityTest_
Plugins>NanoJ-SQUIRREL>Testing, "Test blocking", nanoj.squirrel.java.gui.testing.RollingBlockTest_
Plugins>NanoJ-SQUIRREL, "Calculate FRC-Map", nanoj.squirrel.java.gui.FRCMap_
Plugins>NanoJ-SQUIRREL, "Calculate SR-Fusion", nanoj.squirrel.java.gui.FuseSRImages_
